main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > img{
  height: 60rem;
  width: 80rem;
}

main .todos ul{
  display: block;
  margin-right: 60px;
  background-color: blueviolet;
  margin-left: 120px;
  text-align: center;
  height: 41rem;
  border-radius: 10px;
  width: 50rem;
  list-style: none;
  overflow: scroll;
  overflow-x: hidden;
}
